.head{
    text-align: center;
}

.add-btn{
    text-align: center;
}

.dlt-btn{
    margin-left: 20px;
    border: none;
    outline: none;    
    background-color: rgb(240, 49, 49);
    padding: 5px;
    border-radius: 5px;
}